ul {
  margin: 0;
}

h1, h2 {
  font-size: 24px;
  font-weight: bold;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.block {
  width: 200px;
}

.block-text {
  background-color: rgba(211, 211, 31, 0.881);
}

.container {
  padding: 5px;
}

.custom-button {
  background-color: transparent; 
  color: black;
  border: 1px solid black;
  padding: 10px 20px; 
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.custom-button:hover {
  background-color: rgb(71, 70, 70);
  color: white; 
}


.card {
  border-radius: 10px;
  border: 1px solid black;
  width: 200px;
  padding-bottom: 20px;
}

.card_title {
  background-color: yellow;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding:0 10px;
  border-bottom: 1px solid black;
  margin-bottom: 12px;
}
.card_content {
  padding: 0 10px;
}

.productList {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.productList li {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

.productList li + li {
  margin-top: 10px;
}

.heading {
  font-size: 30px;
}

.todoList {
  margin-top: 8px;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

.todoItem + .todoItem {
  margin-top: 8px;
}

body {
  font-family: Roboto, sans-serif;
}


.customConfig_collapse .ant-collapse-header {
  background-color: transparent;
  padding: 10px !important;
  border-color: transparent;
}

.customConfig_collapse .ant-collapse-content-box {
  padding-right: 0 !important;
}

.customConfig_collapse .ant-collapse-item {
  border-color: transparent;
}

.experiment-results {
  table-layout: fixed;
  width: 100%;
}

.experiment-results th.axis-col.header-label {
  padding-bottom: 5px;
  font-size: 16px;
}

.experiment-results th.axis-col {
  background-color: #fff;
  box-shadow: 0 -1px 0 #0056b3 inset;
  font-size: 13px;
}

.results-variation-row {
  display: none;
}

.experiment-results  input:checked ~ .results-variation-row {
  display: table-row;
}

.experiment-results tbody {
  position: relative;
}

.experiment-results  input {
  position: absolute;
  display: none;
  top: 0px;
  left: 0;
  width: 100%;
  height: 53px;
  cursor: pointer;
  opacity: 0;
}

ul li a.active {
  text-decoration:  underline;
}