ul {
  margin: 0;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.block {
  width: 200px;
}

.block-text {
  background-color: rgba(211, 211, 31, 0.881);
}

.container {
  padding: 5px;
}

.custom-button {
  background-color: transparent; 
  color: black;
  border: 1px solid black;
  padding: 10px 20px; 
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.custom-button:hover {
  background-color: rgb(71, 70, 70);
  color: white; 
}
